# Python package requirements
pytest~=7.4.4
pandas~=2.2.0
scikit-learn~=1.4.0
coverage
matplotlib~=3.8.2
numpy~=1.26.3

# if you get an error during bertopic pip install try: conda install -c conda-forge hdbscan

